---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
  }
